FUEL_FINDER_CLIENT_ID=
FUEL_FINDER_CLIENT_SECRET=
FUEL_FINDER_TOKEN_URL=https://auth.fuelfinder.service.gov.uk/oauth2/token
FUEL_FINDER_API_BASE_URL=https://api.fuelfinder.service.gov.uk/v1
HASSOCKS_LAT=50.9246
HASSOCKS_LNG=-0.1507
RADIUS_MILES=5
POLL_INTERVAL_MINUTES=30
